		.g-footer {height: 262px; background-color: #2c3339; color: #b7b8b9;}
		.g-footer a {color: #b7b8b9;}
		.g-footer a:hover {text-decoration: underline;}
		.g-footer ul {float: left; margin-top: 82px;}
		.g-f-wrap {padding: 0 50px; box-sizing: border-box;}
		.m-f-logo {float: left; margin-top: 92px; width: 396px;}
		.m-f-l-logo {float: none;}
		.m-f-l-logo a {margin: 0 0 28px;}
		.m-f-logo p {display: block; font: 12.5px/24px "Microsoft YaHei","sans-serif";}
		.g-footer ul li {font-size: 12.5px; margin-bottom: 15px;}
		.g-footer ul a {font-size: 14.5px;}
		.m-link {margin-left: 150px;}
		.m-163 {margin-left: 96px;}
		.m-more {margin-left: 72px;}
		.m-weibo i {display: block; float: right; width: 32px; height: 16px; background: url(../images/sprite.png) -25px -32px no-repeat;}